{{#if isEditing}}
  {{input type="text" value=name action="updateContact"}}
{{else}}
  <h6>{{name}}</h6>
  <button {{action "delete"}} id='delete' class='tiny button alert'>Delete Contact</button>
  <button {{action "edit"}} class="tiny button">Edit Contact</button>
  <button {{action "addPhone"}} class="tiny button">Add a Phone</button>
{{/if}}

<section id='phones'>
  <p>Phones</p>
  <ul>
  {{#each phones}}
    <li>{{number}}</li>
  {{/each}}
  </ul>
<section>

{{outlet}}